# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*/build/
CMakeBase/61-CMake/math/build/
CMakeBase/75-CMake/install/
CMakeBase/75-CMake/test_sdk/build/
CMakeBase/75-CMake/test_sdk_install/
CMakeBase/74-CMake/install/
CMakeBase/74-CMake/test_sdk/build/
CMakeBase/74-CMake/test_sdk_install/
CMakeBase/73-CMake/install/
CMakeBase/73-CMake/test_sdk/build/
CMakeBase/73-CMake/test_sdk_install/
AudioVideoCode/01_examples/build/
AudioVideoCode/01_examples/install/
AudioVideoCode/02_rgb_pixel/build/
AudioVideoCode/02_rgb_pixel/resource/
AudioVideoCode/02_rgb_pixel/install/
AudioVideoCode/03_rgb_to_bmp/build/
AudioVideoCode/03_rgb_to_bmp/resource/
AudioVideoCode/03_rgb_to_bmp/install/
AudioVideoCode/04_rgb_to_bmp_fix/build/
AudioVideoCode/04_rgb_to_bmp_fix/resource/
AudioVideoCode/04_rgb_to_bmp_fix/install/
AudioVideoCode/05-rgb-to-bmp-library/build/
AudioVideoCode/05-rgb-to-bmp-library-cpp/build/
AudioVideoCode/05-rgb-to-bmp-library/install/
AudioVideoCode/05-rgb-to-bmp-library-cpp/install/
AudioVideoCode/05-rgb-to-bmp-library/resource/
AudioVideoCode/05-rgb-to-bmp-library-cpp/resource/
AudioVideoCode/06-drawing-time/build/
AudioVideoCode/06-drawing-time/install/
AudioVideoCode/06-drawing-time-cpp/build/
AudioVideoCode/06-drawing-time/res_bmp/
AudioVideoCode/06-drawing-time/resource/
AudioVideoCode/06-drawing-time-cpp/install/
AudioVideoCode/06-drawing-time-cpp/resource/
AudioVideoCode/08-rgb-to-yuv/res/
AudioVideoCode/08-rgb-to-yuv/build/
AudioVideoCode/08-rgb-to-yuv/install/
AudioVideoCode/08-rgb-to-yuv/resource/
AudioVideoCode/00_demos/build/
AudioVideoCode/00_demos/install/
AudioVideoCode/00_demos_library/build/
AudioVideoCode/00_demos_library/install/
AudioVideoCode/08-rgb-to-yuv-cpp/build/
AudioVideoCode/08-rgb-to-yuv-cpp/install/
AudioVideoCode/08-rgb-to-yuv-cpp/resource/
AudioVideoCode/08-rgb-to-yuv-cpp/res/
AudioVideoCode/08-rgb-to-yuv-cpp/res2/
AudioVideoCode/09-rgb-to-yuv-library/build/
AudioVideoCode/3rd/descampsa/yuv2rgb/install/
AudioVideoCode/3rd/descampsa/yuv2rgb/resource/
AudioVideoCode/09-rgb-to-yuv-library/res/
AudioVideoCode/3rd/libyuv/install/
AudioVideoCode/09-rgb-to-yuv-library/install/
