# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*/build/
CMakeBase/61-CMake/math/build/
CMakeBase/75-CMake/install/
CMakeBase/75-CMake/test_sdk/build/
CMakeBase/75-CMake/test_sdk_install/
CMakeBase/74-CMake/install/
CMakeBase/74-CMake/test_sdk/build/
CMakeBase/74-CMake/test_sdk_install/
CMakeBase/73-CMake/install/
CMakeBase/73-CMake/test_sdk/build/
CMakeBase/73-CMake/test_sdk_install/
AudioVideoCode/01_examples/build/
AudioVideoCode/01_examples/install/
AudioVideoCode/02_rgb_pixel/build/
AudioVideoCode/02_rgb_pixel/resource/
AudioVideoCode/02_rgb_pixel/install/
AudioVideoCode/03_rgb_to_bmp/build/
AudioVideoCode/03_rgb_to_bmp/resource/
AudioVideoCode/03_rgb_to_bmp/install/
